# ignore node files
node_modules/

# ignore IDEA workspace file
.idea/workspace.xml

# ignore private settings
data/private-settings.json
knexfile.js

# ignore persisted raid data
raids/**
parties/**
images/**

# ignore generated custom dictionaries
lang-data/v4/gyms.txt
lang-data/v4/pokemon.txt

# ignore log files
*.log

# ignore debug image processing images
assets/processing

yarn.lock
